$background-accent: #55BBEB;
$background-accent-active: #36A0D0;
$white: #fff;
$background-button-green: #71BD4E;
$background-button-green-hover: #65A845;
$background-primary: #E9F0F3;
$stroke-primary: #B6D3E4;
$text-accent: #55BBEB;
$background-primary: #E9F0F3;
$text-disabled: #678AA1;
$text-disabled-white: rgba(255, 255, 255, 0.60);
$text-primary: #364954;